<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/test</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">asdfghjkl;'</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.show_sql">true</property>
        <!-- DB schema will be updated if needed -->
<!--        <property name="hbm2ddl.auto">create-drop</property>-->
        <mapping class="server.domain.model.User"/>
        <mapping class="server.domain.model.Position"/>
        <mapping class="server.domain.model.UserAction"/>
        <mapping class="server.domain.model.UserWagon"/>
        <mapping class="server.domain.model.WagonCache"/>
        <mapping class="server.domain.model.Repair"/>
    </session-factory>
</hibernate-configuration>